$primary-blue: #43A3FF
$dark-blue: #657FC3
$light-gray: #EFEFEF
$dark-gray: #95989A
$primary-red: #CC6F3B
$heading-line-blue: #0F8EE3
$card-info-blue: #45799B
$input-gray: #F8F8F8
$input-border-gray: #DBDBDB
$content-text-gray: #484848
$blue-button: #5D76D8
