.ididntknow-wrapper
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  height: auto
  width: 100

  .ididntknow-text-container
    background-color: transparent
    padding: 20px
    background-color: #fff
    width: 100vw
    padding: 100px 40px

    p
      margin: 0
      padding: 0
      font-family: $font-content-alt
      font-size: 2rem
      font-weight: bold
      line-height: 1
      text-align: left
      color: #252525

    p span
      font-size: 1.25rem

  .ididntknow-image
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    height: 500px
    width: 100vw
    background-image: url(../images/girl-in-field.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    -webkit-filter: grayscale(100%)
    filter: grayscale(100%)
    // background-color: blue
