.banner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  width: 100;
  background-image: url(../images/bryce-canyon.jpg);
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 7px; }

.header-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start; }

.header-title {
  font-family: DIN Condensed, sans-serif;
  font-size: 10vw;
  color: #fff; }

.mobile-menu-icon {
  height: 20px;
  width: 15px;
  display: block; }

@media only screen and (min-height: 768px) {
  .mobile-menu-icon {
    display: none; } }
.ididntknow-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100; }
  .ididntknow-wrapper .ididntknow-text-container {
    background-color: transparent;
    padding: 20px;
    background-color: #fff;
    width: 100vw;
    padding: 100px 40px; }
    .ididntknow-wrapper .ididntknow-text-container p {
      margin: 0;
      padding: 0;
      font-family: Hiragino Kaku Gothic StdN, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      color: #252525; }
    .ididntknow-wrapper .ididntknow-text-container p span {
      font-size: 1.25rem; }
  .ididntknow-wrapper .ididntknow-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 100vw;
    background-image: url(../images/girl-in-field.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.learnmore-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 30px; }

.learnmorebutton {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: DIN Condensed, sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #5D76D8;
  cursor: pointer; }
  .learnmorebutton:hover {
    background-color: #95989A; }
  .learnmorebutton p {
    margin: 0;
    margin: -1px 0 -9px 0;
    padding: 0;
    line-height: normal; }

.logo-img {
  height: 45px;
  margin-top: 3px;
  padding: 0; }

.logo-text-wrapper {
  margin-bottom: 10px; }

.upss-logo-text {
  height: 105px;
  width: auto;
  margin: 20px; }

.asps-logo-text {
  height: 105px;
  width: auto;
  margin: 20px; }

@media only screen and (min-width: 768px) {
  .logo-img {
    height: 55px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.navbar-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: #fff;
  padding: 0 15px 0 12px; }

@media only screen and (min-width: 768px) {
  .navbar-wrapper {
    height: 65px; } }

/*# sourceMappingURL=App.css.map */
