.banner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  width: 100;
  background-image: url(../images/bryce-canyon.jpg);
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 7px; }

.page-header {
  font-size: 2.5em;
  font-family: DIN Condensed, sans-serif;
  color: #000;
  border-bottom: 3px solid #0F8EE3;
  line-height: 35px;
  margin-bottom: 10px; }

.header-sub-title {
  font-size: 1.15em;
  font-family: Helvetica Neue, sans-serif;
  text-align: center;
  color: #000;
  margin: 0; }

.content {
  font-size: 0.9em;
  font-family: Helvetica Neue, sans-serif;
  text-align: center;
  text-decoration: none !important;
  color: #5D76D8;
  margin-bottom: 20px;
  cursor: pointer; }

.featured-members-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 50px 10px 50px 10px;
  background-color: #EFEFEF; }

.member-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 120px;
  width: 280px;
  background-color: #FFFFFF;
  padding: 5px;
  box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  padding: 0;
  padding: 13px;
  font-family: Helvetica Neue, sans-serif;
  color: #45799B; }
  .member-card .member-pic {
    height: 100%;
    width: auto; }
  .member-card .contact-info-container {
    height: auto;
    width: auto;
    margin-left: 12px; }
  .member-card .member-name {
    font-size: 0.87em;
    font-weight: bold; }
  .member-card .member-address {
    font-size: 0.87em;
    font-weight: normal; }
  .member-card .member-phone-number {
    font-size: 0.87em;
    font-weight: bold; }
  .member-card .member-site {
    color: #5D76D8;
    font-size: 0.8em; }

.footer-wrapper {
  background-color: yellow; }

.footer-info-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #43A3FF;
  padding: 20px; }

.footer-info {
  font-size: 0.75em;
  font-family: Helvetica Neue, sans-serif;
  color: #fff; }
  .footer-info p:nth-child(1) {
    font-size: 1.5em; }

.footer-media {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: pink; }

.footer-copy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #CC6F3B; }

.footer-copy-text {
  font-size: 0.45em;
  font-family: Helvetica Neue, sans-serif;
  padding: 25px 0 25px 0;
  color: #fff; }

.copy-text {
  text-align: center; }

.society-text {
  text-align: center; }

.media {
  height: 40px;
  width: auto;
  padding: 5px;
  color: #fff !important;
  background-color: #43A3FF; }

.header-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start; }

.header-title {
  font-family: DIN Condensed, sans-serif;
  font-size: 10vw;
  color: #fff; }

.mobile-menu-icon {
  height: 20px;
  width: 15px;
  display: block; }

@media only screen and (min-height: 768px) {
  .mobile-menu-icon {
    display: none; } }
.ididntknow-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100; }
  .ididntknow-wrapper .ididntknow-text-container {
    background-color: transparent;
    padding: 20px;
    background-color: #fff;
    width: 100vw;
    padding: 100px 40px; }
    .ididntknow-wrapper .ididntknow-text-container p {
      margin: 0;
      padding: 0;
      font-family: Hiragino Kaku Gothic StdN, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      color: #252525; }
    .ididntknow-wrapper .ididntknow-text-container p span {
      font-size: 1.25rem; }
  .ididntknow-wrapper .ididntknow-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 100vw;
    background-image: url(../images/girl-in-field.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 30px 0px 30px 0px;
  background-color: #fff; }

.our-mission-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0 30px 30px 0; }

.upss-membership-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0 0 30px 30px; }

.asps-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-right: 0 30px 30px 0; }

.info-section-title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  margin: 15px 0 15px 0; }

.our-mission-image {
  height: 100%;
  width: auto; }

.our-mission-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  padding-left: 15px;
  font-size: 0.75em;
  font-family: Helvetica Neue, sans-serif; }

.upss-logo-text-info {
  height: 80px;
  width: auto;
  margin-bottom: 16px; }

.our-mission-text span {
  font-weight: bold; }

.upss-membership-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  padding-right: 15px;
  font-family: Helvetica Neue, sans-serif; }

.upss-membership-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 0.75em;
  font-family: Helvetica Neue, sans-serif;
  padding-right: 16px; }

.toon-doctor-image {
  height: 200px;
  width: auto;
  margin-right: 16px; }

.asps-image {
  height: 80%;
  width: auto; }

.asps-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  padding-left: 15px;
  font-size: 0.75em;
  font-family: Helvetica Neue, sans-serif; }

.asps-logo {
  height: 80px;
  width: auto;
  margin-bottom: 16px; }

.learnmore-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 30px; }

.learnmorebutton {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: DIN Condensed, sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #5D76D8;
  cursor: pointer; }
  .learnmorebutton:hover {
    background-color: #95989A; }
  .learnmorebutton p {
    margin: 0;
    margin: -1px 0 -9px 0;
    padding: 0;
    line-height: normal; }

a {
  text-decoration: none; }

.link {
  color: #5D76D8; }

.logo-img {
  height: 45px;
  margin-top: 3px;
  padding: 0; }

.logo-text-wrapper {
  margin-bottom: 10px; }

.upss-logo-text {
  height: 105px;
  width: auto;
  margin: 20px; }

.asps-logo-text {
  height: 105px;
  width: auto;
  margin: 20px; }

@media only screen and (min-width: 768px) {
  .logo-img {
    height: 55px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.navbar-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: #fff;
  padding: 0 15px 0 12px; }

@media only screen and (min-width: 768px) {
  .navbar-wrapper {
    height: 65px; } }

/*# sourceMappingURL=App.css.map */
